<div><h2><center><a href="/auth/instagram">Auth: Instagram Portion of Assignment</a></center></h2></div>
<div><h2><center><a href="/auth/facebook">Auth: Facebook Portion of Assignment</a></center></h2></div>
